*
{
    margin: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    display: flex;
    flex-wrap: wrap;
}

section
{
    background: #dddddd;
    border-radius: 15px;
    padding: 2%;
    width: max-content;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16pt;
}

button
{
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border-style: none;
    background: cornflowerblue;
    transition: 0.2s;
    outline:none;
}

#apiloop{
    background: rgb(189, 197, 211);
}


button:hover
{
    cursor: pointer;
    background: rgb(159, 185, 233);
}

input[type="range"]:hover
{
    cursor: pointer;
}

.player
{
    display: flex;
}

.playeritem
{
    margin: 0;
    margin-right: 2%;
}

#balkenkasten
{
    width: 100px;
    background: #aaaaaa;
    padding: 0;
    border-radius: 2px;
}

#balken
{
    width: 0%;
    height: 100%;
    background: #353535;
    margin: 0;
    border-radius: 2px;
}

td
{
    padding-right: 15px;
}